@font-face {
  font-family: 'iconfont';  /* project id 1614139 */
  src: url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.eot');
  src: url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1614139_hyv9vsyz8jj.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shanchu:before {
  content: "\e60a";
}
.icon-soushuo:before {
  content: "\e605";
}

.icon-lpf:before {
  content: "\e606";
}

.icon-home:before {
  content: "\e600";
}

.icon-type:before {
  content: "\e601";
}

.icon-fanhui:before {
  content: "\e769";
}

.icon-shezhi:before {
  content: "\e65d";
}

.icon-jiazai1:before {
  content: "\e65e";
}

.icon-jiazai:before {
  content: "\e67a";
}

.icon-quanping:before {
  content: "\e736";
}

.icon-yanyuan:before {
  content: "\e6f6";
}

.icon-jianjie:before {
  content: "\e614";
}

.icon-dongman:before {
  content: "\e60c";
}

.icon-zongyi:before {
  content: "\e609";
}

.icon-juji:before {
  content: "\eaff";
}

.icon-tv:before {
  content: "\e604";
}

.icon-dianying:before {
  content: "\e70e";
}

.icon-hot:before {
  content: "\e610";
}

.icon-guanyu:before {
  content: "\e728";
}

.icon-bofang:before {
  content: "\e653";
}

.icon-zanting:before {
  content: "\e76a";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

